.productTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  /* or 22px */
  color: #191718;
}

.productTitleLarger {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  /* or 22px */
  color: #191718;
}

.productOccasions {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 165%;
  /* or 21px */
  letter-spacing: 0.01em;
  color: #7c787a;
}

.productDate {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 165%;
  /* identical to box height, or 25px */
  letter-spacing: 0.01em;
  color: #474145;
}

.productDateDarker {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 165%;
  /* identical to box height, or 25px */
  letter-spacing: 0.01em;

  color: #191718;
}

.productBtn {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 44px;
  width: 100%;
  /* identical to box height, or 19px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f20b97;
}

a.productBtn:hover, button.productBtnBuy:hover {
  color: #fff;
}

svg.featherIcon {
  stroke: #f224a1;

}
svg.featherIcon:hover {
  stroke: #fff !important;
  transition: 0.45s;
}

.productBtnBox {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1.5px solid #f29dd1;
  box-sizing: border-box;
  border-radius: 2px;
}

div.productBtnBox:hover, .productBtnBuyBox:hover  {
  background: linear-gradient(174.66deg, #ffffff -117.22%, #f20b97 88.03%);
  border: 2.5px solid rgb(224, 188, 211);
}

.productBtnBuy {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 44px;
  width: 100%;
  /* identical to box height, or 19px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f20b97;
}

.productBtnBuyBox {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border: 1.5px solid #f29dd1;
  box-sizing: border-box;
  border-radius: 2px;
}


.productBtnBack {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  color: #4e4b92;
}

.productBtnBackBox {
  width: 100%;
  height: 44px;
  background: #fff0f9;
  box-sizing: border-box;
  border-radius: 2px;
}

.productContainer {
  margin-bottom: 30px !important;
  max-width: 410px;
}

.productDescription {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  /* or 25px */
  letter-spacing: 0.01em;
  color: #474145;
}

.productPrice {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  /* identical to box height, or 35px */

  letter-spacing: 0.01em;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #191718;
}

.productPriceDetails {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 165%;
  /* or 18px */
  letter-spacing: 0.01em;
  color: #474145;
}

.bgWhite {
  background: #f8f8ff;
}
