.bgPurple {
  background: linear-gradient(180deg, #FFFFFF -209.16%, #6662B1 26.67%);
}

.title {
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 1023px) {
  .title {
    padding-left: 0px;
  }
}

.navLink {
  font-size: 15px;
  color: #deddff;
}
.navLink:hover {
  color: #fff;
  text-decoration: underline !important;
  transition: 0.45s;
}

@media (max-width: 1023px) {
  .navLink {
    color: #474145;
  }
  .navLink:hover {
    color: #fff;
  }
}

.navLink .is-active {
  color: #eee !important;
}
.navLink .is-active:hover {
  text-decoration: none;
  color: #fff;
}



